@import "../../styles/variable.scss";
.form{
  :global{
    .at-input{
      margin-left: 0;
    }
  }
  .required{
    color:$red;
    margin-right: 5px;
  }
.textarea{
  .label{
    display: flex;
    margin-bottom: 20px;
  }
}
  .picker{

    border-bottom: 1px solid #d6e4ef;
    .label{
      width:130px;
    }
    .select{
      padding:20px 0;
      display: flex;
    }
  }
}
