@import "../../styles/variable.scss";
.infoCard{
  padding:30px 0 30px;
  overflow: hidden;
  display: flex;
  .img{
    width:200px;
    height:200px;
    border-radius: 10px;
  }
  .infos{
    padding:2px 0;
    margin-left: 20px;


    .name{
      font-weight: bold;
    }
    .baseInfo{
      margin-top: 20px;
      display: flex;
      View{
        padding:0 20px;
        &:first-child{
          padding-left: unset;
        }
      }
      View+View{
        border-left:1px solid black;
      }

    }
    .labels{
      margin-top: 20px;
      .label+.label{
        margin-left: 15px;
      }
      .label{
        height:unset;
        line-height: unset;
        padding:8px 15px;
        border-radius: 10px;
        border: 1px solid $yellow;
        color:$black;
        font-size: 20px;
        &.nature{
          background: $yellow;
          color:white;
        }
      }
    }
    .otherImages{
      margin-top: 15px;
      Image{
        border-radius: 5px;
        width:55px;
        height:55px;
      }
    }
  }
}

.infoCard+.infoCard{
 border-top:1px solid $gray;
}
