@import "/styles/variable.scss";
page{
  line-height: 1;
  font-size: $baseFontSize;
  color:$black;
  font-family: -apple-system-font,"Helvetica Neue",sans-serif;
}

.at-tabs__item {
  font-size: $baseFontSize !important;
}

.horDivide{
  border-bottom: 10px solid red;
}

.at-image-picker__flex-box{
  padding:unset;
  .at-image-picker__flex-item{
    &:first-child{
      margin-left: unset;
    }
  }
}
