@import "/styles/variable.scss";
page{
  line-height: 1;
  font-size: $baseFontSize;
  color:$black;
  font-family: -apple-system-font,"Helvetica Neue",sans-serif;
}

.at-tabs__item {
  font-size: $baseFontSize !important;
}
